.mainNav {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  background: rgb(142, 213, 201, 0.7);
  padding: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  align-items: center;
  align-content: stretch;
}

.homeBtn {
  background: transparent;
  border: transparent;
  width: 350px;
  height: auto;
  /* margin-left: 200px; */
}

.navbar-brand {
  margin: 0 auto;
}

.nav-button {
  background: #fb844d;
  border: #de5d3e;
  text-align: center;
  padding: 10px 30px;
  font-family: "Shadows Into Light Two", cursive;
  color: #222;
  border-radius: 0.25rem;
  position: relative;
  margin-right: 100px;
}

.nav-button:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}
