.centered-title {
  text-align: center;
}
h1,
p,
img {
  /* margin: 15px; */
}
.personality-hedge {
  margin-left: auto;
  margin-right: auto;
}
#personality-container {
  margin: 20px, 20px auto, 20px;
  max-width: 1200px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#hog-pic {
  display: flex;
  align-items: center;
}
.card-body,
.card-text {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.card-image-top {
  margin-bottom: 1px;
}

.zipInput {
  width: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;  
}

.activitySelect {
  margin-left: 1rem;
  margin-right: 1rem;  
}

.updateButton {
  width: 5rem;
  }

.checkoutEvents {
  display: flex;
  justify-content: center;
} 