.answerCardWrapper {
    background-color: white;
    border: 0.05rem solid;
    border-color: #666;
    border-radius: .5rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    text-justify: kashida;
    text-align: center;
    /* display: inline-block; */
}

.inputField {
    width: 80%;
    display: inline-block;
    padding-bottom: 1rem;
   
}

.label {
    width: 6rem;
    display: inline-block;
    vertical-align: middle;
}

input {
    width: 100%;
}

h1 {
    display: inline-block;
}
