.answerCardWrapper {
  background-color: white;
  background-color: rgb(230, 230, 230);
  border: 0.05rem solid;
  border-color: #666;
  border-color: rgb(62, 112, 160);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}

.adminInputField {
  width: 100%;
  padding: 1rem;
}

.label {
  width: 8rem;
  display: inline-block;
  vertical-align: middle;
  padding: 1rem;
}

input {
  width: 100%;
}

/* h1 {
  display: inline-block;
} */

.cardRow {
  display: flex;
  flex-direction: row;
}

.personalityHeader {
  background-color: rgb(62, 112, 160);
  background-color: rgb(124, 155, 184);
  color: white;
  font-style: italic;
  font-variant-caps: small-caps;
}

.hoverDiv {
  position: absolute;
  top: 3px;
  left: 20px;
}

/* .tooltip-inner {
  background-color: #fff;
  padding: 0;
} */

#tooltip-top > .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid #062e56;
  padding: 0;
}

#tooltip-top > .tooltip-arrow {
  border-top: 5px solid #062e56;
  background-color: #fff;
}

#tooltip-top > img {
  margin: 0;
}

i > .eyeCon {
  color: rgb(230, 230, 230);
}
