.answerCardWrapper {
  background-color: white;
  border: 0.05rem solid;
  border-color: #666;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  text-align: center;

  /* display: inline-block; */
}

.adminInputField {
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
}

.label {
  width: 6rem;
  display: inline-block;
  vertical-align: middle;
}

input {
  width: 100%;
}

h1 {
  display: inline-block;
}

.cardRow {
  display: flex;
}