.adminNav {
    display: flex;
    align-items: flex-start;
    /* background-color: rgb(8, 76, 139); */
    background-color: rgb(72, 110, 124);
    box-shadow: 0 0 2rem 0;
}

.adminNavItem {
    font-size: 1rem;
    color: white;
    padding: 0rem 1rem;
}

link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(177, 182, 248); 
}