/* Result Component */
h3 {
  font-family: "Shadows Into Light Two", cursive;
  text-align: center;
}

.resultP {
  text-align: center;
}
.resultbtn {
  margin-top: 20px;
  margin: 0 auto;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  border-color: none;
  background-color: #afca52 !important;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coolImg {
  height: 100%;
  width: 50%;
  background-color: #afca52;
  box-shadow: 2px 1px 0 px 2 px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.resultName {
  font-size: 30px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
