/* Result Component */
h3 {
  font-family: "Shadows Into Light Two", cursive;
  text-align: center;
}

.resultbtn {
  margin-top: 20px;
  font-size: 18px;
  height: 65px;
  width: 250px;
  border-radius: 10px;
  border-color: none;
  box-shadow: 0.5px 0.5px 0px 1px #bbb;
  background-color: #afca52 !important;
  cursor: pointer;
  margin-left: 35%;
}

.coolImg {
  width: 100%;
  /* border: 20px dotted #afca52; */
  background-color: #afca52;
  box-shadow: 2px 1px 0 px 2 px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.resultName {
  font-size: 30px;
  margin: 0 auto;
  padding: 20px;
}
