button {
  font-family: "Walter Turncoat", cursive;
}

h1 {
  font-family: "Walter Turncoat", cursive;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  background: rgb(250, 193, 114, 0.7);
  padding: 40px;
}

.coolHog {
  height: 100%;
}

p {
  font-size: 24px;
  padding: 5px;
}

.secondPara {
  padding-top: 15px;
}

.quizBtnText {
  padding-top: 40px;
}
