  /* .placeWrapper {
    position: relative;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  #tooltip-top > .tooltip-inner {
    background-color: #fff;
    color: #000;
    border: 1px solid #062e56;
    padding: 0;
  }
  
  #tooltip-top > .tooltip-arrow {
    border-top: 5px solid #062e56;
    background-color: #fff;
  }
  
  #tooltip-top > img {
    margin: 0;
  }
  
  i > .eyeCon {
    color: rgb(230, 230, 230);
  } */