.title {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  float: center;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  padding-top: 200px;

  /* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
}
