.quizBtn {
  background: #afca52;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-family: "Walter Turncoat", cursive;
  color: #222;
  margin-bottom: 30px;
  font-size: 25px;
  margin-top: 20px;
  /* height: 65px;
  width: 250px; */
  border-radius: 10px;
  border-color: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* This is for button animations */
.quizBtn:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
