.quizBtn {
  background: #afca52;
  text-align: center;
  width: 30%;
  height: 60px;
  margin: 0 auto;
  font-family: "Walter Turncoat", cursive;
  margin-left: 38% !important;
  color: #222;
  margin-bottom: 30px;
  font-size: 25px;
}

/* This is for button animations */
.quizBtn:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
