.quizBtn {
  /* width: 100%; */
  background: #afca52;
  /* margin: 50px; */
  text-align: center;
  width: 200px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  font-family: "Walter Turncoat", cursive;
  /* font-size: 2rem; */
  position: relative;
  left: 45%;
  margin-left: -45px !important;
  display: block;
  color: #222;
  margin-bottom: 50px;
}

.col-md-12 {
  width: 100%;
  padding: 0;
}

/* This is for button animations */
.quizBtn:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
